label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

label.stacked {
    flex-direction: column;
}

#export form {
    display: flex;
    flex-direction: column;
}

export-qr-code canvas {
    max-width: 20em;
}
